<div class="container">
    <div class="ctrls">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal"
            data-bs-whatever="@getbootstrap">Add
            Account</button>

        <button type="button" class="btn btn-outline-primary transfer" data-bs-toggle="modal"
            data-bs-target="#transferModal" data-bs-whatever="@getbootstrap">
            Transfer</button>

    </div>

    <div class="row cards-cotaniner" *ngIf="account.length; else noAccount">
        <div class="card" *ngFor="let acc of account" (click)="editModal(acc)" data-bs-whatever="@getbootstrap">
            <img src="../../assets/integrisoft-logo.png" alt="image" class="logo">
            <div class="top">
                <h1>Current Balance</h1>
                <h2>{{acc.balance | currency}}</h2>
            </div>

            <div class="bottom">
                <div class="uinfo">
                    <p class="fullname">{{acc.fullName}}</p>
                    <p class="email">{{acc.email}}</p>
                </div>
                <p class="exp">{{acc.exp}}</p>
            </div>
        </div>
    </div>

    <ng-template #noAccount>
        <h2 class="mt-5">No data available...</h2>
    </ng-template>

    <!-- REGISTER MODAL -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 w-100 text-center" id="registerModalLabel">Create Account</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body cmbody">
                    <form [formGroup]="accounts" (ngSubmit)="create()">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="fullName" placeholder="Full Name"
                                formControlName="fullName">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="email" placeholder="Email"
                                formControlName="email">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="balance" placeholder="Balance"
                                formControlName="balance">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="expdate" placeholder="Exp Date"
                                formControlName="exp">
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-outline-primary text-center customBtn"
                                (click)="create()" data-bs-dismiss="modal">Create</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- EDIT MODAL -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 w-100 text-center" id="editModal">Edit Account</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body cmbody">
                    <form  [formGroup]="accounts" (ngSubmit)="create()">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="edit-fullName" name="fullName" placeholder="Full Name"
                                formControlName="fullName">
                        </div>
                        <fieldset disabled>
                            <div class="mb-3" aria-disabled="true">
                                <input type="text" class="form-control" id="edit-email" name="email" placeholder="Email"
                                    formControlName="email">
                            </div>
                        </fieldset>
                        <div class="mb-3">
                            <input type="number" class="form-control" id="edit-balance" name="balance" placeholder="Balance"
                                formControlName="balance">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="edit-expdate" name="expdate" placeholder="Exp Date"
                                formControlName="exp">
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-outline-primary text-center customBtn"
                                (click)="create()" data-bs-dismiss="modal">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- TRANSFER MODAL -->
    <div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 w-100 text-center" id="transferModalLabel">Transfer Money</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body cmbody">
                    <form [formGroup]="transferFC" (ngSubmit)="submit()">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="email" placeholder="From (Email)"
                                formControlName="fromEmail">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="email" placeholder="To (Email)"
                                formControlName="toEmail">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="balance" placeholder="Balance"
                                formControlName="amount">
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-outline-primary text-center customBtn"
                                data-bs-dismiss="modal" (click)="submit()">Transfer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>